Name: jahanvi Gundakaram

task 1: Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [39]:
import numpy as np
import pandas as pd

In [40]:
df = pd.DataFrame(np.random.rand(4,4))
df

          0         1         2         3
0  0.908046  0.804368  0.585385  0.598070
1  0.366162  0.969649  0.423057  0.440575
2  0.055364  0.875592  0.830340  0.555802
3  0.961692  0.532151  0.283744  0.476051

Task 2: Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [50]:
df.columns = ["Random value 1","Random value 2","Random value 3","Random value 4"]

In [51]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.908046        0.804368        0.585385        0.598070
1        0.366162        0.969649        0.423057        0.440575
2        0.055364        0.875592        0.830340        0.555802
3        0.961692        0.532151        0.283744        0.476051

Task 3: Find the descriptive statistics of the 'df' dataframe.

In [53]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.572816        0.795440        0.530632        0.517624
std          0.437442        0.188126        0.234768        0.072097
min          0.055364        0.532151        0.283744        0.440575
25%          0.288463        0.736314        0.388229        0.467182
50%          0.637104        0.839980        0.504221        0.515926
75%          0.921458        0.899106        0.646624        0.566369
max          0.961692        0.969649        0.830340        0.598070

In [54]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [57]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

task 4: Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [65]:
df.loc[:,['Random value 2','Random value 3']]

   Random value 2  Random value 3
0        0.804368        0.585385
1        0.969649        0.423057
2        0.875592        0.830340
3        0.532151        0.283744

In [66]:
df.iloc[:,[1,2]]

   Random value 2  Random value 3
0        0.804368        0.585385
1        0.969649        0.423057
2        0.875592        0.830340
3        0.532151        0.283744